<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            @* Dashboard *@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascrip:void(0)">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @* Manage Order *@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascrip:void(0)">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Manage Order</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @* Manage Product *@
            <li class="nav-item dropdown">
                <a asp-area="Admin" asp-controller="AdminProduct" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Manage Product</span>
                </a>
            </li>

            @* Manage Customer *@
            <li class="nav-item dropdown">
                <a asp-area="Admin" asp-controller="AdminCustomer" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Manage Customer</span>
                </a>
            </li>

            @* Sale *@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascrip:void(0)">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Sale</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @* Manage System *@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascrip:void(0)">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Manage System</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="AdminAccount" asp-action="Index">Manage Account</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="AdminCategory" asp-action="Index">Manage Category</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="AdminRole" asp-action="Index">Manage Access</a>
                    </li>
                    <li>
                        <a href="data-table.html">Manage Province/City</a>
                    </li>
                </ul>
            </li>

            @* Manage Blog *@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascrip:void(0)">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Manage Blog</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>

            @* Manage Page *@
            <li class="nav-item dropdown">
                <a asp-area="Admin" asp-controller="AdminPage" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Manage Pages</span>
                </a>
            </li>

            @* Manage Shipper *@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascrip:void(0)">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title">Manage Shipper</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>