@model EcommerceWeb.Models.Role

@{
    ViewData["Title"] = "Edit Role";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="AdminRole" asp-action="Index" class="breadcrumb-item">Manage role</a>
            <span class="breadcrumb-item active">Edit role</span>
        </nav>
    </div>
</div>
<div>
    <h1>Edit role</h1>

    <form asp-action="Edit" asp-route-id="@Model.RoleId" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RoleId">
        <div class="form-group col-md-6">
            <label class="col-sm-2 col-form-label" asp-for="RoleName">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" asp-for="RoleName" placeholder="">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="col-sm-2 col-form-label" asp-for="Description">Descriptiton</label>
            <div class="col-sm-8">
                <textarea class="form-control" asp-for="Description" rows="4" placeholder=""></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-sm-2 col-form-label">
                <input type="submit" value="Save" class="btn btn-success btn-tone m-r-5" />
            </div>
        </div>
    </form>
</div>



